assume_role.py
.DS_Store
/actions/.DS_Store
/actions/__pycache__/
/__pycache__/   
**.pyc
deploy.sh
/beta_actions/
serverless-output.yaml
**.zip
broken_out_handle_event.py
lambda_test_event.json
/events/
/cross_account_role_configs/create_role.sh
cs2_cftemplate.yaml
gp.sh
