sample_dome9_event.json 
sample_gd_event.json
assume_role.py
.DS_Store
/actions/.DS_Store
/actions/__pycache__/
/__pycache__/   
**.pyc
deploy.sh
/beta_actions/
serverless-output.yaml
**.zip
broken_out_handle_event.py
lambda_test_event.json
/events/
/.vscode/
cs2_cftemplate.yaml
gp.sh
cloudbots_sam.yaml
cloudbots_cftemplate.yaml
